/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ESTRUCTURA PARA FOOTER ABAJO ===== */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* ===== HEADER / NAV ===== */
.header {
  background-color: #0f5fa6;
  padding: 15px 40px;
}

.nav {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo img {
  height: 80px;
}

/* MENÚ CENTRADO */
.nav-center {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0 auto;
}

/* BOTONES DERECHA */
.nav-right {
  display: flex;
  list-style: none;
  gap: 15px;
}

/* Enlaces */
.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}

.nav a:hover {
  background-color: #112bac;
  border-radius: 6px;
}

/* Botones */
.btn {
  padding: 10px 18px;
  background-color: #05149a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #05149a;
}

/* ===== SUBMENÚS ===== */
.dropdown {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0631a5;
  list-style: none;
  min-width: 180px;
  display: none;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
}

.submenu li a {
  padding: 12px;
  font-size: 1rem;
}

.dropdown:hover .submenu {
  display: flex;
}

/* ===== MAIN ===== */
.contenido {
  flex: 1;
  padding: 40px;
}

/* ===== FOOTER ABAJO ===== */
.footer {
  background-color: #084485;
  color: white;
  text-align: center;
  padding: 20px;
}
